name: CI - Build & Push to ECR

on:
    push:
        branches: ["main"]
    workflow_dispatch:

permissions:
    id-token: write
    contents: read

env:
    AWS_REGION: eu-west-1
    AWS_ACCOUNT_ID: 151580225166
    ECR_REPO: aws-cicd-eks-ecr-alb

jobs:
    build_push:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
        
            - name: Configure AWS Credentials (OIDC)
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: arn:aws:iam::151580225166:role/GithubActions-ECR-Push-Project4
                aws-region: ${{ env.AWS_REGION }}
            
            - name: Login to Amazon ECR
              uses: aws-actions/amazon-ecr-login@v2
            
            - name: Build, Tag and push image
              env:
                IMAGE_URI: ${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPO }}
                SHA_TAG: ${{ github.sha }}
              run: |
                docker build -t $ECR_REPO:latest -f docker/Dockerfile .
                docker tag $ECR_REPO:latest $IMAGE_URI:latest
                docker tag $ECR_REPO:latest $IMAGE_URI:$SHA_TAG
                docker push $IMAGE_URI:latest
                docker push $IMAGE_URI:$SHA_TAG    
            
            - name: Show tags pushed
              run: |
                aws ecr describe-images \
                    --repository-name ${{ env.ECR_REPO }} \
                    --region ${{ env.AWS_REGION }} \
                    --query "imageDetails[?imageTags!=null].imageTags[]"

    deploy:
        runs-on: ubuntu-latest
        needs: build_push
        if: github.event_name == 'workflow_dispatch'
        env:
            AWS_REGION: eu-west-1
            CLUSTER_NAME: project4-eks
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Configure AWS Credentials (OIDC) - Deploy
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: arn:aws:iam::151580225166:role/GithubActions-EKS-Deploy-Project4
                aws-region: ${{ env.AWS_REGION }}
            
            - name: Install kubectl
              uses: azure/setup-kubectl@v3
              with:
                version: 'latest'

            - name: Update kubeconfig
              run: |
                aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.CLUSTER_NAME }}
            
            - name: Apply manifests
              run: |
                kubectl apply -f k8s/namespace.yaml
                kubectl apply -f k8s/configmap.yaml -n dev
                kubectl apply -f k8s/deployment.yaml -n dev
                kubectl apply -f k8s/service.yaml -n dev
                kubectl apply -f k8s/serviceaccount.yaml -n dev